.cart {
  @apply hidden;

  .cart_list {
    @apply bg-red-700 my-2 mx-2 rounded relative py-2 text-white z-10;
  }

  .remove_btn {
    @apply absolute right-1 top-0 z-10 cursor-pointer text-lg font-bold;
  }

  .cart_total_price {
    @apply bg-red-700 rounded my-2 mx-2 text-white text-center;
  }

  .cart_submit_btn {
    @apply bg-red-700 rounded w-1/3 my-2 cursor-pointer mx-auto text-white text-center;
  }
}

.show_cart {
  @apply absolute w-60 bg-gray-200 border border-red-700 right-0 block z-50 top-30;
}
