.row {
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  margin-top: 3rem;
  width: 910px;

  .seat {
    height: 16px;
    width: 20px;
    margin: 5px;
    background-color: #444451;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
  }

  .seat.selected {
    background-color: #6feaf6;
    pointer-events: none;
  }

  .seat:nth-of-type(25n + 5) {
    margin-right: 30px;
  }

  .seat:nth-of-type(25n + 21) {
    margin-left: 30px;
  }

  .seat:nth-of-type(n + 126):nth-of-type(-n + 150) {
    margin-top: 30px;
  }

  .seat:nth-of-type(n + 251):nth-of-type(-n + 275) {
    margin-top: 30px;
  }
}
