<section class="booking_status_section"
         data-controller="events-status">
  <div class="status_column">
    <span class="status_frame" id="1">
      <span class="status_number" id="n1">1</span>
      <span>選擇票種</span>
    </span>
  </div>
  <div class="status_column">
    <span class="status_frame" id="2">
      <span class="status_number" id="n2">2</span>
      <span>劃位</span>
    </span>
  </div>
  <div class="status_column">
    <span class="status_frame" id="3">
      <span class="status_number" id="n3">3</span>
      <span>填寫表單</span>
    </span>
  </div>
  <div class="status_column">
    <span class="status_frame" id="4">
      <span class="status_number" id="n4">4</span>
      <span>取票繳費</span>
    </span>
  </div>
</section>