
<% @events.each do |event| %>
<div class="card w-2/6 mt-8 ml-20 mr-5 mb-5 inline-block" id="event<%=event.id%>">
    <div class='flex'>
        <img src="https://picsum.photos/200/100" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title"><%= event.title %></h5>
            <p class="card-text"><%= event.description %></p>
            <span class="font-bold">From:</span> <span class="syear">2021</span>/<span class="smonth">05</span>/<span class="sdate">12</span> @ <span class="stime">0500</span><br>
            <span class="font-bold">To:</span> <span class="eyear">2021</span>/<span class="emonth">05</span>/<span class="edate">12</span> @ <span class="etime">0700</span><br>
            <span class="font-bold">Location:</span> <span class="address">Taipei City</span>
            <a href="" class=" text-green-900 text-2xl hover:bg-red-100">活動頁面</a>
        </div>
    </div>
</div>
<% end %>

