<div class="contact_wrapper">

    <div class="w-4/6 m-auto"><%= link_to '返回上一頁', dashboards_path, class: "contact_backlink" %></div> 


    <h1 class="contact_heading">聯繫我們<br></h1>
    <div class="text-center w-1/3 m-auto">
    <a>rtix_server@rtix.com.tw</a><br>
    <a>(02) 2777-7777</a>
    </div>
</div>