<div class="mr-6 text-center">
  <h2 class="text-3xl md:text-4xl font-semibold tracking-tight leading-7 md:leading-10 mb-1 truncate">活動類型：<%= @tag %></h2>
</div>
<div class="flex justify-center items-center">
  <div class="overflow-y-auto w-3/4 h-96">
    <%= render "events/published" %>
  </div>
</div>
