<div class="mr-6 text-center">
  <h2 class="text-3xl md:text-4xl font-semibold tracking-tight leading-7 md:leading-10 mb-1 truncate">平台活動綜覽</h2>
</div>
<div class="flex justify-center items-center">
  <div class="overflow-y-scroll w-3/4 h-96">
    <%= render "events/published" %>
  </div>
</div>