
<p>您好, 這是<%= @user.name %>從RTIX發送給您的票券, 以下是<%= @user.name %>給您的信息</p>

<br>

<%= @content.html_safe %> 

<br>

<%= image_tag "https://chart.googleapis.com/chart?chs=200x200&cht=qr&chl=https://rtix.site/checkin/#{u(@checkin_id)}&choe=UTF-8", class:"w-1/4 m-auto shadow-2xl"%>

<br>






