<%= notice %>

<div class="p-8 mb-5 border-2 border-gray-100 font-bold text-4xl flex justify-between">
  <h3 >組織名稱: <span class="text-red-600 font-bold"><%= @organization.title%></span></h3>
  <h3>活動名稱: <span class="text-blue-600 font-bold"><%= @event.title%></span></h3>
</div>

<div class="apply_area w-11/12 px-8 m-auto">
  <div class="bg-gray-100 flex p-2 rounded-lg mb-5">
    <div class="text-gray-400 font-mono font-bold shadow-2xl">設定活動資料</div>
    <div class="text-red-600 font-mono  font-bold ml-5 shadow-2xl">設定票種</div>
  </div>


  <div class="ticket_list mb-12">
    <div class="ticket_info">
      <%= render "tickets/ticketsetting" %>
    </div>
  </div>

  <p class="my-8"><span class="font-bold text-red-700">RTIX提醒您:</span> 若有超過六種票券種類的需求, 請直接聯繫客服人員, 我們將赴湯蹈火為您服務!</p>
</div>