server: 
server_key: 
payment_url: 
merchant_id: 
hash_key: 
hash_iv: 
sendgrid_key:
facebook_client_id: 
facebook_client_secret: 
github_client_id: 
github_client_secret: 
google_client_id: 
google_client_secret:
map:
aws_access_key_id:
aws_secret_access_key:
s3_bucket_name:
