<div class="cart" id="cart">
<% seat.each do |s|%>
  <div class="cart_list">
    <span class="px-2"><%= s.area%><%= s.id%>號位</span><br>
    <span class="px-2">$<%= s.ticket.price%></span>
    <div class="remove_btn" 
         data-controller="cart"
         data-action="click->cart#cancelled"
         data-item-id="<%= s.line_item.id%>"
         >Ｘ</div>
  </div>
<% end %>
  <div class="cart_submit_btn">
    Submit!
  </div>
</div>