<%# <div class="ticket_information">
  <div class="ticket_information_header">
    <div>系統選位通知</div>
    <div>&times;</div>
  </div>
  <div>
    系統已經幫您選好了相臨座位，您有10分鐘可以修改您想要的位置：
  </div>
  <div>
    <span>票券</span><span>座位</span>
  </div>
  <div>
    <span></span><span></span>
  </div>
</div> %>