<div class="row"
     data-controller="booking-channel">
  <% seats.each do |seat| %>
      <div 
          class="seat
          <%= 'selected' if seat.selected? %>
          <%= 'sold' if seat.sold? %>
          "
          data-seat-id="<%= seat.id%>" 
          data-booking-id="<%= seat.ticket.id%>"
          data-controller="booking-seat"
          data-action ="click->booking-seat#addLineItem"
      ></div>
  <% end %>
</div>