<div class="row">
  <% seats.each do |s| %>
      <div 
          class="seat
          <%= 'selected' if seat_status(s.id) === 'selected' %>" 
          data-seat-id="<%= s.id%>" 
          data-controller="seat"
          data-action ="click->seat#addLineItem"
      ></div>
  <% end %>
</div>