<div class="row"
     data-controller="booking-channel"
>
  <% seats.each do |s| %>
      <div 
          class="seat
          <%= 'selected' if seat_status(s.id) === 'selected' %>"
          data-seat-id="<%= s.id%>" 
          data-booking-id="<%= s.ticket.id%>"
          data-controller="booking-seat"
          data-action ="click->booking-seat#addLineItem"
      ></div>
  <% end %>
</div>