@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import './booking/seats.scss';
@import './booking/popup.scss';
@import './booking/cart.scss';
@import './booking/navbar.scss';
@import './events/show.scss'
