.seat {
  height: 15px;
  width: 20px;
  margin: 7px;
  background-color: #444451;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
}
.seat.selected{
  background-color: #6feaf6;
  pointer-events: none;
}
.seat:nth-of-type(25n + 5){
  margin-right: 30px;
}
.seat:nth-of-type(25n + 21){
  margin-left: 30px;
}
.seat:nth-of-type(n + 126):nth-of-type(-n + 150){
  margin-top: 30px;
}
.row {
  display: flex;
  width: 910px;
  margin: auto;
  flex-wrap: wrap;
  margin-top: 3rem;
}
.cart{
  @apply hidden
}
.showcart{
  @apply absolute w-60 bg-gray-200 right-0 transition-all rounded block
}
.cart_list{
  @apply bg-red-500 my-2 mx-2 rounded relative py-2 text-white
}
.cart_lists{
  @apply  bg-white text-black
}
.cart_submit_btn{
  @apply bg-red-500 rounded w-1/3 my-2 cursor-pointer mx-auto text-white text-center
}
.remove_btn{
  @apply absolute right-1 top-0 z-10 cursor-pointer text-lg font-bold
}
.cart_total_price{
  @apply bg-red-500 rounded my-2 mx-2 text-white text-center
}