.seat {
  height: 15px;
  width: 20px;
  margin: 7px;
  background-color: #444451;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
}
.seat.selected{
  background-color: #6feaf6;
  pointer-events: none;
}
.seat:nth-of-type(25n + 5){
  margin-right: 30px;
}
.seat:nth-of-type(25n + 21){
  margin-left: 30px;
}
.seat:nth-of-type(n + 126):nth-of-type(-n + 150){
  margin-top: 30px;
}
.row {
  display: flex;
  width: 910px;
  margin: auto;
  flex-wrap: wrap;
}
.selected{
  background-color: #f00;
  pointer-events: none;
}
.cart{
  @apply hidden
}
.showcart{
  @apply absolute w-60 bg-gray-200 right-0 transition-all rounded block
}