<div class="container">
  <table id="table_id" class="display table table-striped table-hover">
      <thead>
        <tr>
          <th class="ftext">活動名稱</th>
          <th class="ftext">活動描述</th>
          <th class="ftext">活動時間</th>
          <th class="ftext">活動地點</th>
          <th class="ftext">我的組織</th>
        </tr>
      </thead>
      <tbody>
      <% @hosts.each do |host| %>
          <% @events = host.events %>
          <% @events.each do |event| %>
        <tr>
          <td class="eventname"><%= event.title %></td>
          <td class="mtext"><%= event.description %></td>
          <td class="mtext"><span class="font-bold">From:</span> <span class="syear">2021</span>/<span class="smonth">05</span>/<span class="sdate">12</span> @ <span class="stime">0500</span><br>
            <span class="font-bold">To:</span> <span class="eyear">2021</span>/<span class="emonth">05</span>/<span class="edate">12</span> @ <span class="etime">0700</span></td>
          <td class="ftext"><span class="address">台北市</span></td>
          <td class="ftext"><%= event.organization.title %></td>
        </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
</div>