<div class="wrapper">
    <div class="header bg-gradient-to-r from-red-500 via-red-600 to-red-700 text-base font-mono flex justify-between text-white">
        <div class="left flex justify-between ml-40">
            <div class="logo p-3"><a href="">RTIX</a></div>
            <div class="myticket"><a href="" class="block font-mono p-3 hover:text-red-100">我的票券</a></div>
            <div class="explore"><a href="" class="block font-mono p-3 hover:text-red-100">探索活動</a></div>
            <div class="search"><a href="" class="block font-mono p-3 hover:text-red-100">搜尋活動</a></div>
        </div>
        <div class="right flex justify-between mr-40">
            <div class="create"><a href="" class="block font-mono p-3 hover:text-red-100">建立活動</a></div>
            <div class="org"><a href="" class="block font-mono p-3 hover:text-red-100">選擇組織</a></div>
            <div class="account"><a href="" class="block font-mono p-3 hover:text-red-100">建立帳號</a></div>
        </div>
    </div>

    <div class="myorder mt-20" data-controller="myorder">
        <div class="sub-page w-10/12 m-auto flex border-b-2 border-grey-500">
            <div class="ticketview font-mono p-4 hover:bg-red-100 cursor-pointer" data-action="click->myorder#showticket mouseover->myorder#tickethover" data-myorder-target="ticket">票券總覽</div>
            <div class="hostview font-mono p-4 hover:bg-red-100 cursor-pointer" data-action="click->myorder#showhost mouseover->myorder#hosthover" data-myorder-target="host">舉辦活動總覽</div>
        </div>
        <div data-myorder-target="content">
            <!-- ----------------------------------------------------- -->
            <h2 class="mt-5 w-10/12 m-auto  font-mono text-3xl pl-4">我的票券</h2>
            <div class="ticket">
                <table class="mt-12 w-10/12 font-mono m-auto">
                    <thead class="border-b-2 border-grey-500">
                        <tr>
                            <th>活動名稱</th>
                            <th>活動舉辦時間</th>
                            <th>張數</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="p-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, numquam.</td>
                            <td class="p-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, assumenda.</td>
                            <td class="p-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, nulla.</td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <a href="" class="p-1 border-2 border-grey-500 mx-2 hover:bg-red-100">票券資料</a><a href="" class="p-1 border-2 border-grey-500 mx-2 hover:bg-red-100">聯絡主辦單位</a><a href="" class="p-1 border-2 border-grey-500 mx-2 hover:bg-red-100">活動頁面</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="p-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, numquam.</td>
                            <td class="p-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, assumenda.</td>
                            <td class="p-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, nulla.</td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <a href="" class="p-1 border-2 border-grey-500 mx-2 hover:bg-red-100">票券資料</a><a href="" class="p-1 border-2 border-grey-500 mx-2 hover:bg-red-100">聯絡主辦單位</a><a href="" class="p-1 border-2 border-grey-500 mx-2 hover:bg-red-100">活動頁面</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="recommended mt-20 w-10/12 m-auto font-mono pl-4">
                <h2 class="text-3xl">推薦活動</h2>
                <ul class="flex justify-between">
                    <li class="text-center">
                        <img src="https://picsum.photos/250/200" alt="">
                        <h3>Activity Name</h3>
                        <p>date & time</p>
                    </li>
                    <li class="text-center">
                        <img src="https://picsum.photos/250/200" alt="">
                        <h3>Activity Name</h3>
                        <p>date & time</p>
                    </li>
                    <li class="text-center">
                        <img src="https://picsum.photos/250/200" alt="">
                        <h3>Activity Name</h3>
                        <p>date & time</p>
                    </li>
                    <li class="text-center">
                        <img src="https://picsum.photos/250/200" alt="">
                        <h3>Activity Name</h3>
                        <p>date & time</p>
                    </li>
                </ul>
            </div>
            <!-------------------------------------------------------->
        </div>
    </div>

    <div class="clearfix clear-both"></div>

    <div class="footer mt-20 m-auto font-mono bg-gray-600 p-8">
        <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Est ex assumenda optio itaque nobis earum dolor, debitis non odio atque voluptates dolorum, maxime perferendis cum dolore quibusdam ratione tempore impedit!</p>
    </div>
</div>



<template id="ticketview">
    <h2 class="mt-5 w-10/12 m-auto  font-mono text-3xl pl-4">我的票券</h2>
    <div class="ticket">
        <table class="mt-12 w-10/12 font-mono m-auto">
            <thead class="border-b-2 border-grey-500">
                <tr>
                    <th>活動名稱</th>
                    <th>活動舉辦時間</th>
                    <th>張數</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="p-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, numquam.</td>
                    <td class="p-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, assumenda.</td>
                    <td class="p-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, nulla.</td>
                </tr>
                <tr>
                    <td colspan="3">
                        <a href="" class="p-2 border-2 border-grey-500 mx-2">票券資料</a><a href="" class="p-2 border-2 border-grey-500 mx-2">聯絡主辦單位</a><a href="" class="p-2 border-2 border-grey-500 mx-2">活動頁面</a>
                    </td>
                </tr>
                <tr>
                    <td class="p-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, numquam.</td>
                    <td class="p-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, assumenda.</td>
                    <td class="p-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, nulla.</td>
                </tr>
                <tr>
                    <td colspan="3">
                        <a href="" class="p-2 border-2 border-grey-500 mx-2">票券資料</a><a href="" class="p-2 border-2 border-grey-500 mx-2">聯絡主辦單位</a><a href="" class="p-2 border-2 border-grey-500 mx-2">活動頁面</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="recommended mt-20 w-10/12 m-auto font-mono pl-4">
        <h2 class="text-3xl">推薦活動</h2>
        <ul class="flex justify-between">
            <li class="text-center">
                <img src="https://picsum.photos/250/200" alt="">
                <h3>Activity Name</h3>
                <p>date & time</p>
            </li>
            <li class="text-center">
                <img src="https://picsum.photos/250/200" alt="">
                <h3>Activity Name</h3>
                <p>date & time</p>
            </li>
            <li class="text-center">
                <img src="https://picsum.photos/250/200" alt="">
                <h3>Activity Name</h3>
                <p>date & time</p>
            </li>
            <li class="text-center">
                <img src="https://picsum.photos/250/200" alt="">
                <h3>Activity Name</h3>
                <p>date & time</p>
            </li>
        </ul>
    </div>
</template>
    



<template id="hostview">
    <h2 class="mt-5 w-10/12 m-auto  font-mono text-3xl pl-4">舉辦中的活動</h2>
    <ul class="mt-5 w-10/12 m-auto font-mono pl-4">
        <li class="text-center float-left mx-5">
            <img src="https://picsum.photos/250/200" alt="">
            <h3>Activity Name</h3>
            <p>date & time</p>
        </li>
        <li class="text-center float-left mx-5">
            <img src="https://picsum.photos/250/200" alt="">
            <h3>Activity Name</h3>
            <p>date & time</p>
        </li>
        <li class="text-center float-left mx-5">
            <img src="https://picsum.photos/250/200" alt="">
            <h3>Activity Name</h3>
            <p>date & time</p>
        </li>
        <li class="text-center float-left mx-5">
            <img src="https://picsum.photos/250/200" alt="">
            <h3>Activity Name</h3>
            <p>date & time</p>
        </li>
        <li class="text-center float-left mx-5">
            <img src="https://picsum.photos/250/200" alt="">
            <h3>Activity Name</h3>
            <p>date & time</p>
        </li>
    </ul>
</template>
