<div class="header bg-gradient-to-r from-red-500 via-red-600 to-red-700 text-base font-mono flex justify-between text-white">
    <div class="left flex justify-between ml-40">
        <div class="logo p-3"><a href="">RTIX</a></div>
        <div class="myticket"><%=link_to "我的票券", dashboards_path, class: "block font-mono p-3 hover:text-red-100" %></div>
        <div class="explore"><a href="" class="block font-mono p-3 hover:text-red-100">探索活動</a></div>
        <div class="search"><a href="" class="block font-mono p-3 hover:text-red-100">搜尋活動</a></div>
    </div>
    <div class="right flex justify-between mr-40">
        <div class="create"><a href="" class="block font-mono p-3 hover:text-red-100">建立活動</a></div>
        <div class="org"><a href="" class="block font-mono p-3 hover:text-red-100">選擇組織</a></div>
        <div class="account"><a href="" class="block font-mono p-3 hover:text-red-100">建立帳號</a></div>
    </div>
</div>
<h1 class="font-mono text-3xl text-center p-32 bg-gradient-to-r from-yellow-400 via-red-500 to-pink-500">活動名稱</h1>
<%= link_to '返回上一頁', dashboards_path, class: "w-24 my-5 border-2 border-grey-500 mx-2 hover:bg-gray-100 block text-center font-mono" %> 
<div class="wrapper">
    <h3 class="text-2xl font-bold text-center my-10">訂單資訊</h3>
    <div class="timeplace w-5/6 m-auto my-10">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio reiciendis qui atque excepturi animi quibusdam magni ea a facere deserunt inventore, saepe accusamus sequi dolor repudiandae dolorem corrupti labore. Rem? 
    </div>
    <div class="orderinfo w-5/6 m-auto my-10">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia illum dicta numquam doloribus atque saepe quam, aspernatur expedita laborum eligendi suscipit molestiae cumque reiciendis perspiciatis aliquid, architecto recusandae ex eum.
    </div>
    <div class="contactinfo w-5/6 m-auto my-10">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum id rerum optio aut mollitia laborum accusamus sapiente possimus unde. Sunt architecto praesentium iste, doloremque aut facilis officiis nemo! Ex, tenetur?
    </div>
    <div class="ticketinfo w-5/6 m-auto my-10">
        <div>
            <button class="p-1 border-2 border-grey-500 mx-2 hover:bg-red-100">取消訂單</button>
        </div>
        <div>
            <h3 class="text-2xl font-bold text-center my-10">聯絡人資料</h3>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque similique repellendus eum odit illo rerum aut quisquam, accusamus explicabo, pariatur natus, alias laboriosam excepturi rem sequi modi quos reprehenderit architecto!
        </div>
        <div>
            <h3 class="text-2xl font-bold text-center my-10">票券資訊（含QRcode)</h3>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem, consequuntur molestiae illum ea numquam doloribus exercitationem. Fugit provident labore animi facere ea, blanditiis autem suscipit placeat? Optio impedit necessitatibus rerum!
        </div>
    </div>

</div>


<div class="footer mt-20 m-auto font-mono bg-gray-600 p-8">
    <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Est ex assumenda optio itaque nobis earum dolor, debitis non odio atque voluptates dolorum, maxime perferendis cum dolore quibusdam ratione tempore impedit!</p>
</div>