<div data-controller="organizations-sidebar" class="h-screen bg-gray-700">
  <nav class="org-sidebar z-10" data-organizations-sidebar-target="sidebar">
    <div class="org-list">
      <div class="my-5"><%= link_to '組織公開頁面', "/organizations/#{params[:id]}", target:"_blank"%> </div>
      <div class="my-5"><%= link_to '一般資訊設定', info_organization_path %></div>
      <div class="my-5"><%= link_to '活動列表', events_organization_path %> </div>
      <div class="my-16"><%= link_to '刪除組織', organization_path(@organization.id), method: :delete, data: { confirm: '確定要刪除組織嗎？' }, class: "delete-button" %></div>
    </div>
  </nav>
  <div class="sidebar-button" data-action="click->organizations-sidebar#toggle"></div>
</div>
