<nav class="w-48 bg-gray-800">
  <ul class="nav nav-pills nav-stacked">
    <li class="first">
      <a target="_blank" href="#">組織公開頁面</a>
    </li>
    <li>
      <a href="#">綜覽</a>
    </li>
    <li>
      <a href="#/events">活動列表</a>
    </li>
    <li>
      <a href="#/appropriations">組織帳務</a>
    </li>
    <li class="title bg-black hover:bg-black">
      <span class="text-3xl ">組織設定</span>
    </li>
    <li class="active">
      <a href="#/info">一般資訊</a>
    </li>
    <li>
      <a href="#/themes">組織佈景主題</a>
    </li>
    <li>
      <a href="#/business_infos">帳務設定</a>
    </li>
    <li>
      <a href="#/role-settings">權限管理</a>
    </li>
    <li>
      <a href="#/orders">繳費記錄</a>
    </li>
    <li class="last">
    <a href="#/upgrade">升級組織</a>
    </li>
  </ul>
</nav>