#map {
  height: 100%;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.event-next{
  @apply bg-red-500 block cursor-pointer;
}

.event-page{
  @apply bg-red-500 p-1 my-2 text-center text-white;
  display: block;
  width: 100px;
}

form{
  .input{
    border: 1px solid rgb(184, 174, 174);
  }
  .text{
    border: 1px solid rgb(184, 174, 174);
    width: 300px;
  }
  .textarea{
    border: 1px solid rgb(184, 174, 174);
    width: 300px;
    height: 200px;
  }
  .timearea{
    border: 1px solid rgb(184, 174, 174);
    width: 250px;
  }

  .ticket_info{
    @apply my-3;
  }

}

.event-detail{
  display: block;

  
}

.button-area{
  border-top: grey 1px solid;
}

.card-text{
  width: 400px;
  height: 250px;
}

footer{
  width: 100%;
  // position: relative;
  bottom: 0;
  left: 0;
  margin-top:auto ;
  
}

table{
  @apply border w-full;
  tr{
    @apply border;
    
    td{
      @apply border p-2 text-center;
    }
  }
}

.set_footer_bottom {
  @apply flex flex-col justify-between min-h-screen h-full;
}
