<footer class="h-30 bottom-0 w-full flex flex-wrap items-center justify-between p-3 m-auto bg-gray-700 bottom-0">
    <div class="container mx-auto flex flex-col flex-wrap items-center justify-between">
        <ul class="flex mx-auto text-white text-center">
            <li class="p-2 cursor-pointer hover:underline">服務條款</li>
            <li class="p-2 cursor-pointer hover:underline">訂票流程說明</li>
            <li class="p-2 cursor-pointer hover:underline"><%= link_to "聯絡我們", contacts_path %></li>
            <li class="p-2 cursor-pointer hover:underline">常見問題</li>
        </ul>
        <ul class="flex mx-auto text-white text-center">
            <li class="p-2 cursor-pointer text-4xl hover:text-gray-300"><i class="fab fa-facebook-square"></i></li>
            <li class="p-2 cursor-pointer text-4xl hover:text-gray-300"><i class="fab fa-instagram-square"></i></li>
            <li class="p-2 cursor-pointer text-4xl hover:text-gray-300"><i class="fab fa-google-plus-square"></i></li>
        </ul>
        <div class="flex mx-auto text-white text-center">
        © 2014 - 2021 RTIX 網路娛樂股份有限公司 RTIX ENTERTAINMENT LIMITED
        </div>
    </div>
</footer>
