<footer class="footer">
    <div class="container">
      <div class="language">
        <p>Language</p>
        <a href="">繁體中文</a>
        <a href="">English</a>
        <a href="">日本語</a>
      </div>
      <ul>
        <li><a href="#">定價方式</a></li>
        <li><a href="#">訂票流程說明</a></li>
        <li><a href="#">服務條款</a></li>
        <li><a href="#">隱私權政</a></li>
        <li><a href="#">聯絡我們</a></li>
        <li><a href="#">加入我們</a></li>
        <li><a href="#">常見問題</a></li>
      </ul>
    </div>
    
      <div class="copyright">
        <p>© 2014 - 2021 RTIX 網路娛樂股份有限公司  RTIX ENTERTAINMENT LIMITED</p>
      </div>
  </footer>