<header class='header'>
    <nav class="navbar navbar-expand-lg navbar-light bg-danger">
      <div class="container-fluid">
        <a class="navbar-brand logo" href="#">RTIX <i class="fas fa-ticket-alt"></i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" href="#">我的票卷</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">探索活動</a>
            </li>
            <li class="nav-item">
                <form class="d-flex">
                  <input class="form-control me-2" type="search" placeholder="搜尋活動" aria-label="Search">
                  <button class="btn btn-outline-light" type="submit">Search</button>
                  <i class="fas fa-search magnifier"></i>
                </form>
              </a>
            </li>
          </ul>
          <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" href="#">建立活動 <i class="fas fa-plus-circle"></i></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                選擇組織 <i class="fas fa-caret-down"></i>
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">組織列表</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">登入</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">登出</a>
            </li>
          </ul>
        </div>
      </div>
    </nav> 
  </header>