<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <%= yield %>

    <%= image_tag attachments['rtix_logo.png'].url, alt: 'LOGO', class: 'logo', width: 200 %>
    <br>
    <em style="font-weight: bold;">RTIX| 您活動參與最佳的入口</em>

  </body>
</html>
